<%- include("partials/header") %>
<div class="container">
    <h3>Hello, <%= username %></h3><br>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
        <img src="/1.gif" alt="Random Image" class="img-fluid">
        </div>
        <div class="col-12 col-md-4 mb-3">
        <img src="/2.gif" alt="Random Image" class="img-fluid">
        </div>
        <div class="col-12 col-md-4 mb-3">
        <img src="/3.gif" alt="Random Image" class="img-fluid">
        </div>
    </div>

    <form action="/logout" method="post" class="mt-4">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
    </div>
<%- include("partials/footer") %>
